<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1012343426125-9q8a20f04lba2u9o2vc0p7b3fee2535c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1012343426125-9q8a20f04lba2u9o2vc0p7b3fee2535c</string>
	<key>API_KEY</key>
	<string>AIzaSyCGSCH3Et9FdiVKzN9jiAa0iBVsaJLX34E</string>
	<key>GCM_SENDER_ID</key>
	<string>1012343426125</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.seminarskiRad</string>
	<key>PROJECT_ID</key>
	<string>seminar-1f40c</string>
	<key>STORAGE_BUCKET</key>
	<string>seminar-1f40c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1012343426125:ios:b0eb05278f259664952004</string>
</dict>
</plist>